In [1]:
#import dependencies
import pandas as pd

In [2]:
#create csv path
pricing = "Pricing.csv"

# Read the CSV into a Pandas DataFrame
invpricing_df = pd.read_csv(pricing)

invpricing_df.head()

,Branch,Customer Name,Invoice,Work Order,QW Total,SAP Total,Discrepancy,Cause,Dept Impacted,Date
0,ABQ,Costco,V20084815,SM2039717,250.89,649.90,-8.37,Consumables,Service,10/14/21
1,ABQ,Home Depot,V20080772,SM2038008,89.14,75.00,-14.14,Consumables,Service,05/12/21
2,ABQ,Home Depot,V20080766,SM2038009,93.42,85.00,-8.42,Consumables,Service,05/12/21
3,DEN,Aramsco,V10312364,SM1129943,124.52,110.20,-14.32,Consumables,Service,02/11/21
4,DEN,Aramsco,V10313562,SM1130062,136.77,119.85,-16.92,Consumables,Service,02/24/21

In [3]:
#Reorgainze columns and drop QW Total and SAP Total(unnecessary columns)
invpricing_df = invpricing_df[["Branch", "Dept Impacted", "Customer Name", "Invoice", "Work Order", " Discrepancy ", 
                               "Cause", "Date"]]

invpricing_df.head()

,Branch,Dept Impacted,Customer Name,Invoice,Work Order,Discrepancy,Cause,Date
0,ABQ,Service,Costco,V20084815,SM2039717,-8.37,Consumables,10/14/21
1,ABQ,Service,Home Depot,V20080772,SM2038008,-14.14,Consumables,05/12/21
2,ABQ,Service,Home Depot,V20080766,SM2038009,-8.42,Consumables,05/12/21
3,DEN,Service,Aramsco,V10312364,SM1129943,-14.32,Consumables,02/11/21
4,DEN,Service,Aramsco,V10313562,SM1130062,-16.92,Consumables,02/24/21

In [4]:
#rename columns
invpricing_df = invpricing_df.rename(columns={"Customer Name":"Customer", "Dept Impacted":"Dept_Impacted", "Invoice":"Inv_Number", "Work Order":"WO", 
                                               " Discrepancy ":"Discrepancy", "Date":"Inv_Date"})

invpricing_df.head()

,Branch,Dept_Impacted,Customer,Inv_Number,WO,Discrepancy,Cause,Inv_Date
0,ABQ,Service,Costco,V20084815,SM2039717,-8.37,Consumables,10/14/21
1,ABQ,Service,Home Depot,V20080772,SM2038008,-14.14,Consumables,05/12/21
2,ABQ,Service,Home Depot,V20080766,SM2038009,-8.42,Consumables,05/12/21
3,DEN,Service,Aramsco,V10312364,SM1129943,-14.32,Consumables,02/11/21
4,DEN,Service,Aramsco,V10313562,SM1130062,-16.92,Consumables,02/24/21

In [5]:
#check data types to adjust as needed
invpricing_df.dtypes

Branch            object
Dept_Impacted     object
Customer          object
Inv_Number        object
WO                object
Discrepancy      float64
Cause             object
Inv_Date          object
dtype: object

In [6]:
#update Date column to datetime

invpricing_df["Inv_Date"] = pd.to_datetime(invpricing_df["Inv_Date"])

invpricing_df.head()

,Branch,Dept_Impacted,Customer,Inv_Number,WO,Discrepancy,Cause,Inv_Date
0,ABQ,Service,Costco,V20084815,SM2039717,-8.37,Consumables,2021-10-14
1,ABQ,Service,Home Depot,V20080772,SM2038008,-14.14,Consumables,2021-05-12
2,ABQ,Service,Home Depot,V20080766,SM2038009,-8.42,Consumables,2021-05-12
3,DEN,Service,Aramsco,V10312364,SM1129943,-14.32,Consumables,2021-02-11
4,DEN,Service,Aramsco,V10313562,SM1130062,-16.92,Consumables,2021-02-24

In [7]:
#create new column for month 
invpricing_df["Month"] = invpricing_df["Inv_Date"].dt.month
invpricing_df.head()

,Branch,Dept_Impacted,Customer,Inv_Number,WO,Discrepancy,Cause,Inv_Date,Month
0,ABQ,Service,Costco,V20084815,SM2039717,-8.37,Consumables,2021-10-14,10
1,ABQ,Service,Home Depot,V20080772,SM2038008,-14.14,Consumables,2021-05-12,5
2,ABQ,Service,Home Depot,V20080766,SM2038009,-8.42,Consumables,2021-05-12,5
3,DEN,Service,Aramsco,V10312364,SM1129943,-14.32,Consumables,2021-02-11,2
4,DEN,Service,Aramsco,V10313562,SM1130062,-16.92,Consumables,2021-02-24,2

In [8]:
#replace Month number with name

invpricing_df["Month"] = invpricing_df["Month"].replace({1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June", 
                                                         7:"July", 8:"August", 9:"September", 10:"October", 11:"November", 
                                                         12:"December"})

invpricing_df

,Branch,Dept_Impacted,Customer,Inv_Number,WO,Discrepancy,Cause,Inv_Date,Month
0,ABQ,Service,Costco,V20084815,SM2039717,-8.37,Consumables,2021-10-14,October
1,ABQ,Service,Home Depot,V20080772,SM2038008,-14.14,Consumables,2021-05-12,May
2,ABQ,Service,Home Depot,V20080766,SM2038009,-8.42,Consumables,2021-05-12,May
3,DEN,Service,Aramsco,V10312364,SM1129943,-14.32,Consumables,2021-02-11,February
4,DEN,Service,Aramsco,V10313562,SM1130062,-16.92,Consumables,2021-02-24,February
...,...,...,...,...,...,...,...,...,...
2961,SLC,Service,Amazon,V30098630,SM3039864,-165.00,Unpaid - Reversed Status,2021-03-19,March
2962,SLC,Service,Amazon,V30098631,SM3039865,-165.00,Unpaid - Reversed Status,2021-03-19,March
2963,SLC,Service,Amazon,V30098634,SM3039862,-75.00,Unpaid - Reversed Status,2021-03-19,March
2964,SLC,Service,Amazon,V30098643,SM3040196,75.00,Unpaid - Reversed Status,2021-03-19,March
2965,SLC,Service,Baker Distributing,V30103471,W354833,-267.04,Unpaid - Reversed Status,2021-07-20,July

In [9]:
#Combine branch and dept 

invpricing_df['Branch_Dept'] = invpricing_df.Branch.str.cat(invpricing_df.Dept_Impacted,sep="_")
invpricing_df

,Branch,Dept_Impacted,Customer,Inv_Number,WO,Discrepancy,Cause,Inv_Date,Month,Branch_Dept
0,ABQ,Service,Costco,V20084815,SM2039717,-8.37,Consumables,2021-10-14,October,ABQ_Service
1,ABQ,Service,Home Depot,V20080772,SM2038008,-14.14,Consumables,2021-05-12,May,ABQ_Service
2,ABQ,Service,Home Depot,V20080766,SM2038009,-8.42,Consumables,2021-05-12,May,ABQ_Service
3,DEN,Service,Aramsco,V10312364,SM1129943,-14.32,Consumables,2021-02-11,February,DEN_Service
4,DEN,Service,Aramsco,V10313562,SM1130062,-16.92,Consumables,2021-02-24,February,DEN_Service
...,...,...,...,...,...,...,...,...,...,...
2961,SLC,Service,Amazon,V30098630,SM3039864,-165.00,Unpaid - Reversed Status,2021-03-19,March,SLC_Service
2962,SLC,Service,Amazon,V30098631,SM3039865,-165.00,Unpaid - Reversed Status,2021-03-19,March,SLC_Service
2963,SLC,Service,Amazon,V30098634,SM3039862,-75.00,Unpaid - Reversed Status,2021-03-19,March,SLC_Service
2964,SLC,Service,Amazon,V30098643,SM3040196,75.00,Unpaid - Reversed Status,2021-03-19,March,SLC_Service
2965,SLC,Service,Baker Distributing,V30103471,W354833,-267.04,Unpaid - Reversed Status,2021-07-20,July,SLC_Service

In [10]:
#create new DF with branch_dept combined column, drop Branch and Department columns (unnecessary/duplicate data)
invpricing = invpricing_df[["Branch_Dept", "Customer", "Inv_Number", "WO", "Discrepancy", "Cause", "Inv_Date", "Month"]]

invpricing.head()

,Branch_Dept,Customer,Inv_Number,WO,Discrepancy,Cause,Inv_Date,Month
0,ABQ_Service,Costco,V20084815,SM2039717,-8.37,Consumables,2021-10-14,October
1,ABQ_Service,Home Depot,V20080772,SM2038008,-14.14,Consumables,2021-05-12,May
2,ABQ_Service,Home Depot,V20080766,SM2038009,-8.42,Consumables,2021-05-12,May
3,DEN_Service,Aramsco,V10312364,SM1129943,-14.32,Consumables,2021-02-11,February
4,DEN_Service,Aramsco,V10313562,SM1130062,-16.92,Consumables,2021-02-24,February

In [11]:
invpricing["Branch_Dept"].value_counts()

SLC_Service           1739
DEN_Service            995
ABQ_Service            137
DEN_Mountain Power      48
DEN_Parts               24
SLC_Parts               14
ABQ_Mountain Power       3
DEN_Tire Truck           2
ABQ_Parts                2
DEN_Shop                 2
Name: Branch_Dept, dtype: int64

In [12]:
#update Mountain Power and Denver Tire values 
invpricing = invpricing.replace({"ABQ_Mountain Power":"MountainPower", "DEN_Mountain Power":"MountainPower", "DEN_Tire Truck":"DEN_Tire"})

invpricing

,Branch_Dept,Customer,Inv_Number,WO,Discrepancy,Cause,Inv_Date,Month
0,ABQ_Service,Costco,V20084815,SM2039717,-8.37,Consumables,2021-10-14,October
1,ABQ_Service,Home Depot,V20080772,SM2038008,-14.14,Consumables,2021-05-12,May
2,ABQ_Service,Home Depot,V20080766,SM2038009,-8.42,Consumables,2021-05-12,May
3,DEN_Service,Aramsco,V10312364,SM1129943,-14.32,Consumables,2021-02-11,February
4,DEN_Service,Aramsco,V10313562,SM1130062,-16.92,Consumables,2021-02-24,February
...,...,...,...,...,...,...,...,...
2961,SLC_Service,Amazon,V30098630,SM3039864,-165.00,Unpaid - Reversed Status,2021-03-19,March
2962,SLC_Service,Amazon,V30098631,SM3039865,-165.00,Unpaid - Reversed Status,2021-03-19,March
2963,SLC_Service,Amazon,V30098634,SM3039862,-75.00,Unpaid - Reversed Status,2021-03-19,March
2964,SLC_Service,Amazon,V30098643,SM3040196,75.00,Unpaid - Reversed Status,2021-03-19,March
2965,SLC_Service,Baker Distributing,V30103471,W354833,-267.04,Unpaid - Reversed Status,2021-07-20,July

In [13]:
#view all cause categories
invpricing["Cause"].value_counts()

Part Pricing - Raymond           1023
Discount Labor Line               381
Environmental Fee                 325
Consumables                       226
Incorrect Labor Rate              224
Tax                               201
Productive Rounding               155
Part Pricing - TVH/Durasource      71
Entry Error - Labor Quantity       55
Over NTE                           37
Entry Error - Freight              36
Entry Error - Travel Quantity      34
Incorrect PM Rate                  32
Entry Error - Misc Charge          31
Entry Error - Part Pricing         21
Entry Error - Part Quantity        20
Incorrect Travel Rate              17
Entry Error - Travel Rate          11
PO Funds                            9
Unpaid - Reversed Status            7
Entry Error - SM Pricing            7
Tire Disposal                       6
Tire Press                          6
Entry Error - Duplicate Claim       5
Part Pricing - Misc                 4
Incorrect Battery Rate              3
Incorrect Vendor Markup             3
Flat Rate Error                     3
Unpaid - Cancel Status              3
Incorrect Part Pricing              1
Unpaid - Return Status              1
Unpaid - Denied Status              1
PDN                                 1
Cust Dispute Lbr Amt                1
Entry Error - Labor Dates           1
Core Charge                         1
Entry Error - Tire Press            1
Incorrect Travel Quantity           1
Incorrect Labor Rate/Amt            1
Name: Cause, dtype: int64

In [14]:
#combine Causes into similar categories
invpricing = invpricing.replace({"Part Pricing - Raymond": "Part_Pricing", "Part Pricing - TVH/Durasource":"Part_Pricing",
                                    "Part Pricing - Misc":"Part_Pricing", "Tax":"Tax_Enviro", "Environmental Fee":"Tax_Enviro", "Over NTE":"Over_NTE", 
                                    "PO Funds":"Over_NTE", "PO Funds":"Over_NTE", "Incorrect Labor Rate":"Incorrect_Rate",
                                    "Discount Labor Line":"Incorrect_Rate", "Incorrect PM Rate":"Incorrect_Rate", "Incorrect Part Pricing":
                                    "Incorrect_Rate", "Incorrect Labor Rate/Amt":"Incorrect_Rate" , "Productive Rounding":"Incorrect_Rate",
                                    "Entry Error - Labor Quantity":"Entry_Error", "Entry Error - Freight": "Entry_Error", 
                                    "Entry Error - Travel Quantity":"Entry_Error", "Entry Error - Misc Charge":"Entry_Error", 
                                    "Entry Error - Part Pricing":"Entry_Error", "Entry Error - Travel Rate":"Entry_Error", "Entry Error - Part Quantity":
                                    "Entry_Error", "Entry Error - SM Pricing":"Entry_Error", "PDN":"Misc_Charge", "Tire Press":"Misc_Charge", 
                                    "Tire Disposal":"Misc_Charge", "Entry Error - Tire Press":"Misc_Charge", "Incorrect Travel Rate":"Incorrect_Rate",
                                    "Incorrect Vendor Markup":"Incorrect_Rate", "Incorrect Battery Rate":"Incorrect_Rate", "Flat Rate Error":"Incorrect_Rate",
                                    "Incorrect Travel Quantity":"Incorrect_Rate", "Incorrect Travel Rate":"Incorrect_Rate" , "Unpaid - Reversed Status":"Unpaid", "Unpaid - Cancel Status":"Unpaid",
                                    "Unpaid - Denied Status":"Unpaid", "Unpaid - Return Status":"Unpaid", "Entry Error - Duplicate Claim":"Entry_Error", "Core Charge":"Entry_Error",
                                    "Entry Error - Labor Dates":"Entry_Error" }) 

invpricing["Cause"].value_counts()

Part_Pricing            1098
Incorrect_Rate           821
Tax_Enviro               526
Consumables              226
Entry_Error              222
Over_NTE                  46
Misc_Charge               14
Unpaid                    12
Cust Dispute Lbr Amt       1
Name: Cause, dtype: int64

In [15]:
#create new DF for each Branch/Dept to calculate monthly impact, $$ per cause, $$ per customer
denService_df = invpricing[invpricing.Branch_Dept == "DEN_Service"]
slcService_df = invpricing[invpricing.Branch_Dept == "SLC_Service"]
abqService_df = invpricing[invpricing.Branch_Dept == "ABQ_Service"]
denShop_df = invpricing[invpricing.Branch_Dept == "DEN_Shop"]
denParts_df = invpricing[invpricing.Branch_Dept == "DEN_Parts"]
slcParts_df = invpricing[invpricing.Branch_Dept == "SLC_Parts"]
abqParts_df = invpricing[invpricing.Branch_Dept == "ABQ_Parts"]
denTire_df = invpricing[invpricing.Branch_Dept == "DEN_Tire"]

In [41]:
#calculate monthly discrepancies for each Branch/Dept

#DEN Service
DenService_monthly = denService_df.groupby(["Month"]).sum("Discrepancy")
DenService_monthly = DenService_monthly["Discrepancy"]


#SLC Service
SlcService_monthly = slcService_df.groupby(["Month"]).sum("Discrepancy")
SlcService_monthly = SlcService_monthly["Discrepancy"]

#ABQ Service
AbqService_monthly = abqService_df.groupby(["Month"]).sum("Discrepancy")
AbqService_monthly = AbqService_monthly["Discrepancy"]

#DEN Shop
DenShop_monthly = denShop_df.groupby(["Month"]).sum("Discrepancy")
DenShop_monthly = DenShop_monthly["Discrepancy"]

#DEN Parts
DenParts_monthly = denParts_df.groupby(["Month"]).sum("Discrepancy")
DenParts_monthly = DenParts_monthly["Discrepancy"]

#SLC Parts
SlcParts_monthly = slcParts_df.groupby(["Month"]).sum("Discrepancy")
SlcParts_monthly = SlcParts_monthly["Discrepancy"]

#ABQ Parts
AbqParts_monthly = abqParts_df.groupby(["Month"]).sum("Discrepancy")
AbqParts_monthly = AbqParts_monthly["Discrepancy"]

#DEN Tire
DenTire_monthly = denTire_df.groupby(["Month"]).sum("Discrepancy")
DenTire_monthly = DenTire_monthly["Discrepancy"]

In [43]:
#create new Branch/Dept DFs with monthly $$ and rename index to Branch_Dept

#DEN Service
denService_monthly = pd.DataFrame({"January":[DenService_monthly.January], "February":[DenService_monthly.February], 
                                   "March":[DenService_monthly.March], "April":[DenService_monthly.April], 
                                   "May":[DenService_monthly.May], "June":[DenService_monthly.June], "July":[DenService_monthly.July],
                                   "August":[DenService_monthly.August], "September":[DenService_monthly.September], 
                                   "October":[DenService_monthly.October], "November":[DenService_monthly.November], 
                                   "December":[DenService_monthly.December]})
denServ_monthly = denService_monthly.rename({0: "Den_Service"})


#SLC Service
slcService_monthly = pd.DataFrame({"January":[SlcService_monthly.January], "February":[SlcService_monthly.February], 
                                   "March":[SlcService_monthly.March], "April":[SlcService_monthly.April], 
                                   "May":[SlcService_monthly.May], "June":[SlcService_monthly.June], "July":[SlcService_monthly.July],
                                   "August":[SlcService_monthly.August], "September":[SlcService_monthly.September], 
                                   "October":[SlcService_monthly.October], "November":[SlcService_monthly.November], 
                                   "December":[SlcService_monthly.December]})
slcServ_monthly = slcService_monthly.rename({0: "SLC_Service"})


#ABQ Service
abqService_monthly = pd.DataFrame({"January":[AbqService_monthly.January], "February":[AbqService_monthly.February], 
                                   "March":[AbqService_monthly.March], "April":[AbqService_monthly.April], 
                                   "May":[AbqService_monthly.May], "June":[AbqService_monthly.June], "July":[AbqService_monthly.July],
                                   "August":[AbqService_monthly.August], "September":[AbqService_monthly.September], 
                                   "October":[AbqService_monthly.October], "November":[AbqService_monthly.November], "December":0})
abqServ_monthly = abqService_monthly.rename({0: "ABQ_Service"})


#DEN Shop
denShop_monthly = pd.DataFrame({"January":0, "February":0, "March":[DenShop_monthly.March],
                           "April":0, "May":0, "June":0, "July":0,
                           "August":0, "September":[DenShop_monthly.September], "October":0, 
                           "November":0, "December":0})
denShop_monthly = denShop_monthly.rename({0: "DEN_Shop"})


#DEN Parts
denParts_monthly = pd.DataFrame({"January":[DenParts_monthly.January], "February":0, "March":0,
                           "April":0, "May":0, "June":[DenParts_monthly.June],"July":[DenParts_monthly.July],
                           "August":0, "September":0, "October":[DenParts_monthly.October], 
                           "November":[DenParts_monthly.November], "December":0})
denParts_monthly = denParts_monthly.rename({0: "DEN_Parts"})


#SLC Parts
slcParts_monthly = pd.DataFrame({"January":[SlcParts_monthly.January], "February":0, "March":[SlcParts_monthly.March],
                           "April":0, "May":0, "June":0,"July":0,
                           "August":0, "September":[SlcParts_monthly.September], "October":[SlcParts_monthly.October], 
                           "November":[SlcParts_monthly.November], "December":0})

slcParts_monthly = slcParts_monthly.rename({0: "SLC_Parts"})


#ABQ Parts
abqParts_monthly = pd.DataFrame({"January":0, "February":[AbqParts_monthly.February], "March":0,
                           "April":0, "May":0, "June":[AbqParts_monthly.June],"July":0,
                           "August":0, "September":0, "October":0, 
                           "November":0, "December":0})
abqParts_monthly = abqParts_monthly.rename({0: "ABQ_Parts"})


#DEN Tire
denTire_monthly = pd.DataFrame({"January":0, "February":[DenTire_monthly.February], "March":0,
                           "April":0, "May":0, "June":0,"July":0,
                           "August":0, "September":0, "October":[DenTire_monthly.October], 
                           "November":0, "December":0})
denTire_monthly = denTire_monthly.rename({0: "DEN_Tire"})

,January,February,March,April,May,June,July,August,September,October,November,December
DEN_Tire,0,30.0,0,0,0,0,0,0,0,-20.0,0,0

In [45]:
#Create new DF combining all Branch/Depts
monthly = [denServ_monthly, slcServ_monthly, abqServ_monthly, denShop_monthly, denParts_monthly, 
                   slcParts_monthly, abqParts_monthly, denTire_monthly]

monthly_summary = pd.concat(monthly)

monthly_summary

,January,February,March,April,May,June,July,August,September,October,November,December
Den_Service,-3844.38,-2162.14,-2361.65,-3142.48,-1938.21,-2666.32,-2860.67,-2693.39,-3716.97,-1742.16,-1425.12,-501.29
SLC_Service,-48.60,-1399.49,-4765.03,-1179.83,-1276.49,-311.86,-2561.36,145.88,-2839.90,-2166.30,-2790.23,-1614.62
ABQ_Service,-1201.89,-150.81,-144.00,-204.11,-219.72,-103.32,-651.36,-407.54,-65.53,872.42,-513.21,0.00
DEN_Shop,0.00,0.00,-431.85,0.00,0.00,0.00,0.00,0.00,-51.99,0.00,0.00,0.00
DEN_Parts,-1114.20,0.00,0.00,0.00,0.00,-525.81,-92.66,0.00,0.00,-2375.87,-33.28,0.00
SLC_Parts,-106.75,0.00,-62.40,0.00,0.00,0.00,0.00,0.00,-228.24,-441.02,-122.03,0.00
ABQ_Parts,0.00,-7.66,0.00,0.00,0.00,-12.12,0.00,0.00,0.00,0.00,0.00,0.00
DEN_Tire,0.00,30.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,-20.00,0.00,0.00

In [ ]:
#Calu